<section class="section feature">
  <h2 class="visually-hidden">Feature</h2>
  <div class="container">
    <div class="feature__card">
      <img
        srcset="
          ./images/feature/mobile/feature-480@1x.jpg 450w,
          ./images/feature/mobile/feature-480@2x.jpg 900w,
          ./images/feature/desk/feature-1200@1x.jpg  270w,
          ./images/feature/desk/feature-1200@2x.jpg  540w
        "
        sizes="(min-width: 1200px) 270px, (min-width: 120px) 450px, 100vw"
        src="./images/feature/desk/feature-1200@1x.jpg"
        alt="feature"
        class="feature__img"
      />
      <div class="feature__data">
        <p class="feature__text">
          TV Addons: Legal battle against Canadian media giants demonstrates
          severe consequences facing developers accused of copyright
          infringement
        </p>
        <div class="feature__sign">
          <p class="feature__name">Danica Sergison</p>
          <p class="feature__date">JUL 08, 2018</p>
        </div>
        <p class="feature__tags">Copyright, News, Open Source, Privacy</p>
        <div class="feature__comments">
          <svg class="feature__icon" width="16" height="16">
            <use href="./images/symbol-defs.svg#comment"></use>
          </svg>
          0
        </div>
      </div>
    </div>
  </div>
</section>
