<footer class="footer">
  <div class="container">
    <a href="#" class="footer__logo">Company Name</a>
    <div class="footer__desk-wrapper">
      <div class="footer__data">
        <div class="footer__company">
          <h3 class="footer__title">Company</h3>
          <ul class="footer__list">
            <li class="footer__item">
              <a href="#" class="footer__link">About Us</a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__link">Our Team</a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__link">Jobs</a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__link">Press</a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__link">In the Media</a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__link">VPN Reviews</a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__link">Companies We Support</a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__link">Contact Us</a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__link">Blog</a>
            </li>
          </ul>
        </div>
        <div class="footer__meta">
          <div class="footer__programs">
            <h3 class="footer__title">PROGRAMS</h3>
            <ul class="footer__list">
              <li class="footer__item">
                <a href="#" class="footer__link">Whitehat Security</a>
              </li>
              <li class="footer__item">
                <a href="#" class="footer__link">Affiliates</a>
              </li>
            </ul>
          </div>
          <div class="footer__learn">
            <h3 class="footer__title">learn more</h3>
            <ul class="footer__list">
              <li class="footer__item">
                <a href="#" class="footer__link">VPN Encryption</a>
              </li>
              <li class="footer__item">
                <a href="#" class="footer__link">Android VPN App</a>
              </li>
              <li class="footer__item">
                <a href="#" class="footer__link">iOS VPN App</a>
              </li>
              <li class="footer__item">
                <a href="#" class="footer__link">PIA Sitemap</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="footer__wrapper">
        <div class="footer__legal">
          <h3 class="footer__title">legal</h3>
          <ul class="footer__list">
            <li class="footer__item">
              <a href="#" class="footer__link">Terms Of Service</a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__link">Privacy Policy</a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__link">DMCA Policy</a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__link">Export Control Policy</a>
            </li>
          </ul>
        </div>
        <div class="social">
          <h3 class="footer__title">social</h3>
          <ul class="social__list">
            <li class="social__item">
              <a href="#" class="social__link">
                <svg class="social__icon" width="20" height="34">
                  <use href="./images/symbol-defs.svg#f"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" class="social__link">
                <svg class="social__icon" width="28" height="23">
                  <use href="./images/symbol-defs.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" class="social__link">
                <svg class="social__icon" width="40" height="28">
                  <use href="./images/symbol-defs.svg#google"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" class="social__link">
                <svg class="social__icon" width="28" height="28">
                  <use href="./images/symbol-defs.svg#linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" class="social__link">
                <svg class="social__icon" width="30" height="30">
                  <use href="./images/symbol-defs.svg#sl"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" class="social__link">
                <svg class="social__icon" width="41" height="29">
                  <use href="./images/symbol-defs.svg#youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__about">
        <h3 class="footer__title">about</h3>
        <p class="footer__text">
          Private Internet Access is the leading VPN Service provider
          specializing in secure, encrypted VPN tunnels which create several
          layers of privacy and security providing you safety on the internet.
          Our service is backed by multiple gateways worldwide with access in
          28+ countries, 44+ regions.
        </p>
        <p class="footer__text footer__text--second">
          Map data provided by Google.
        </p>
        <p class="footer__text">
          PC Mag Editor’s Choice award image reprinted with permission. © 2012
          Ziff Davis, Inc. All Rights Reserved. PC Mag quote reprinted from
          www.pcmag.com with permission. © 2012 Ziff Davis, Inc. All Rights
          Reserved.
        </p>
        <p class="footer__text footer__text--last">
          © London Trust Media, Inc. All Rights Reserved.
        </p>
        <div class="footer__social">
          <h3 class="footer__title">social</h3>
          <ul class="social__list">
            <li class="social__item">
              <a href="#" class="social__link">
                <svg class="social__icon" width="20" height="34">
                  <use href="./images/symbol-defs.svg#f"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" class="social__link">
                <svg class="social__icon" width="28" height="23">
                  <use href="./images/symbol-defs.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" class="social__link">
                <svg class="social__icon" width="40" height="28">
                  <use href="./images/symbol-defs.svg#google"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" class="social__link">
                <svg class="social__icon" width="28" height="28">
                  <use href="./images/symbol-defs.svg#linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" class="social__link">
                <svg class="social__icon" width="30" height="30">
                  <use href="./images/symbol-defs.svg#sl"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" class="social__link">
                <svg class="social__icon" width="41" height="29">
                  <use href="./images/symbol-defs.svg#youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
