<header class="header">
  <div class="header__container">
    <nav class="nav">
      <button type="button" class="nav__menu">&#9776;</button>
      <a href="#" class="nav__logo">Company Name</a>

      <button type="button" class="nav__btn btn">get started</button>
      <ul class="nav__list">
        <li class="nav__item">
          <a href="#" class="nav__link"
            >WHY US
            <svg class="nav__icon" width="10" height="6">
              <use href="./images/symbol-defs.svg#copy"></use>
            </svg>
          </a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link"
            >WHY US
            <svg class="nav__icon" width="10" height="6">
              <use href="./images/symbol-defs.svg#copy"></use>
            </svg>
          </a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link"
            >VPN APPS
            <svg class="nav__icon" width="10" height="6">
              <use href="./images/symbol-defs.svg#copy"></use>
            </svg>
          </a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link nav__link--active"
            >Resources
            <svg class="nav__icon" width="10" height="6">
              <use href="./images/symbol-defs.svg#copy"></use>
            </svg>
          </a>
        </li>
      </ul>
      <div class="nav__groupe">
        <button type="button" class="btn nav__btn--secondary">log in</button>
        <button type="button" class="btn nav__btn--primary">GET STARTED</button>
      </div>
    </nav>
  </div>
</header>
