<section class="posts">
  <div class="posts__wrapper">
    <div class="blog posts__blog">
      <form action="" class="blog__form form">
        <label class="blog__search">
          <input type="text" class="blog__input" placeholder="Search blog" />
          <svg class="blog__icon" width="18" height="18">
            <use href="./images/symbol-defs.svg#search"></use>
          </svg>
        </label>
      </form>
    </div>

    <!-- Posts -->

    <div class="posts__data">
      <h2 class="posts__title">Recent posts</h2>
      <ul class="posts__list">
        <li class="posts__item">
          <img
            src="./images/posts/bitmap-1.jpg"
            alt="bitmap"
            class="posts__img"
          />
          <div class="post__meta">
            <p class="posts__description">
              The Internet Cannot be Trusted – Beamsplitters, Backdoors, and
              Broken Promises
            </p>
            <div class="posts__sign">
              <p class="posts__name">Derek Zimmer</p>
              <p class="posts__date">JUL 25, 2018</p>
            </div>
            <p class="posts__tags">
              Governments, Networking, Open Source, Privacy, Security
            </p>

            <div class="posts__comments">
              <svg class="posts__icon" width="16" height="16">
                <use href="./images/symbol-defs.svg#comment"></use>
              </svg>
              0
            </div>
          </div>
        </li>
        <li class="posts__item">
          <img
            src="./images/posts/airplane-2.jpg"
            alt="airplane"
            class="posts__img"
          />
          <div class="post__meta">
            <p class="posts__description">
              How to get cheaper flights using a VPN
            </p>
            <div class="posts__sign">
              <p class="posts__name">Jayson</p>
              <p class="posts__date">JUL 24, 2018</p>
            </div>
            <p class="posts__tags">Guides</p>

            <div class="posts__comments">
              <svg class="posts__icon" width="16" height="16">
                <use href="./images/symbol-defs.svg#comment"></use>
              </svg>
              0
            </div>
          </div>
        </li>
        <li class="posts__item">
          <img
            src="./images/posts/cable-3.jpg"
            alt="cable"
            class="posts__img"
          />
          <div class="post__meta">
            <p class="posts__description">
              Net Neutrality was repealed, but the fight is far from over
            </p>
            <div class="posts__sign">
              <p class="posts__name">Chris Miller</p>
              <p class="posts__date">JUL 22, 2018</p>
            </div>
            <p class="posts__tags">Governments, Net Neutrality, News</p>

            <div class="posts__comments">
              <svg class="posts__icon" width="16" height="16">
                <use href="./images/symbol-defs.svg#comment"></use>
              </svg>
              0
            </div>
          </div>
        </li>
        <li class="posts__item">
          <img
            src="./images/posts/bitmap-1.jpg"
            alt="bitmap"
            class="posts__img"
          />
          <div class="post__meta">
            <p class="posts__description">
              The Internet Cannot be Trusted – Beamsplitters, Backdoors, and
              Broken Promises
            </p>
            <div class="posts__sign">
              <p class="posts__name">Derek Zimmer</p>
              <p class="posts__date">JUL 25, 2018</p>
            </div>
            <p class="posts__tags">
              Governments, Networking, Open Source, Privacy, Security
            </p>

            <div class="posts__comments">
              <svg class="posts__icon" width="16" height="16">
                <use href="./images/symbol-defs.svg#comment"></use>
              </svg>
              0
            </div>
          </div>
        </li>
        <li class="posts__item">
          <img
            src="./images/posts/airplane-2.jpg"
            alt="airplane"
            class="posts__img"
          />
          <div class="post__meta">
            <p class="posts__description">
              How to get cheaper flights using a VPN
            </p>
            <div class="posts__sign">
              <p class="posts__name">Jayson</p>
              <p class="posts__date">JUL 24, 2018</p>
            </div>
            <p class="posts__tags">Guides</p>

            <div class="posts__comments">
              <svg class="posts__icon" width="16" height="16">
                <use href="./images/symbol-defs.svg#comment"></use>
              </svg>
              0
            </div>
          </div>
        </li>
        <li class="posts__item">
          <img
            src="./images/posts/cable-3.jpg"
            alt="cable"
            class="posts__img"
          />
          <div class="post__meta">
            <p class="posts__description">
              Net Neutrality was repealed, but the fight is far from over
            </p>
            <div class="posts__sign">
              <p class="posts__name">Chris Miller</p>
              <p class="posts__date">JUL 22, 2018</p>
            </div>
            <p class="posts__tags">Governments, Net Neutrality, News</p>

            <div class="posts__comments">
              <svg class="posts__icon" width="16" height="16">
                <use href="./images/symbol-defs.svg#comment"></use>
              </svg>
              0
            </div>
          </div>
        </li>
      </ul>
      <button class="btn posts__btn">older posts</button>
    </div>

    <aside class="posts__aside aside">
      <form action="" class="blog__form aside__form">
        <label class="blog__search">
          <input type="text" class="blog__input" placeholder="Search blog" />
          <svg class="blog__icon" width="18" height="18">
            <use href="./images/symbol-defs.svg#search"></use>
          </svg>
        </label>
      </form>
      <ul class="aside__list">
        <li class="aside__item">
          <h2 class="aside__title aside__title--alarm">Announcements</h2>
          <ul class="aside__sublist">
            <li class="aside__subitem">
              Upcoming Changes (Live Chat, Less Censorship, More Access)
            </li>
            <li class="aside__subitem">New Servers (US Washington DC)</li>
            <li class="aside__subitem">New Servers (US Denver)</li>
            <li class="aside__subitem">
              Open Source: Releasing the PIA iOS Client
            </li>
            <li class="aside__subitem">Opera Extension is now available</li>
          </ul>
        </li>
        <li class="aside__item">
          <h2 class="aside__title aside__title--wifi">Popular posts</h2>
          <ul class="aside__sublist">
            <li class="aside__subitem">The Gift of Privacy</li>
            <li class="aside__subitem">
              UK High Court Censors Many Links To Popcorn Time: Useless,
              Dangerous Gesture
            </li>
            <li class="aside__subitem">
              About the PIA Client Security and VPN Security in General
            </li>
            <li class="aside__subitem">
              A Private Net Is Just As Fundamental A Right As Freedom Of Speech
            </li>
            <li class="aside__subitem">
              Wiretapping Today Just Doesn’t Mean What The Word Meant In The
              1990s, So Don’t Fall For That Lie
            </li>
          </ul>
        </li>
      </ul>
      <img
        src="./images/privet.jpg"
        alt="privet"
        class="aside__img aside__img--privet"
      />
      <h3 class="aside__title aside__title--tag">Tag cloud</h3>
      <img
        src="./images/cloud.png"
        alt="cloud"
        class="aside__img aside__img--cloud"
      />
    </aside>
  </div>
</section>
