<section class="price">
  <div class="price__container">
    <h2 class="price__title">Sign up today - 7 day money back guarantee</h2>
    <ul class="price__list">
      <li class="price__item">
        <h3 class="price__subtitle">Monthly</h3>
        <div class="price__line"></div>
        <div class="price__amount">6.95</div>
        <div class="price__subline"></div>
        <p class="price__description">Includes all VPN features.</p>
        <button class="btn price__btn">SIGN UP</button>
      </li>
      <li class="price__item price__item--primary">  
        <h3 class="price__subtitle">Monthly</h3>
        <div class="price__line"></div>
        <p class="price__amount">2.91</p>
        <div class="price__subline"></div>
        <p class="price__description">
          <span class="price__description--old">$166.80</span> $69.95 per two
          years <span class="price__description--save">Save 58%*</span>
        </p>
        <button class="btn price__btn price__btn--primary">SIGN UP</button>
      </li>
      <li class="price__item">
        <h3 class="price__subtitle">Monthly</h3>
        <div class="price__line"></div>
        <p class="price__amount">3.33</p>
        <div class="price__subline"></div>
        <p class="price__description">
          <span class="price__description--old">$83.40</span> $39.95 per year
          <span class="price__description--save">Save 52%*/span>
        </p>
        <button class="btn price__btn">SIGN UP</button>
      </li>
    </ul>

    <div class="pay">
      <h2 class="price__pay-title">Ways to pay:</h2>
    <ul class="pay__values">
      <li class="pay__item">
        <img src="./images/price/visa.png" alt="visa" class="price__img">
      </li>
      <li class="pay__item">
        <img src="./images/price/mastercard.png" alt="mastercard" class="price__img">
      </li>
      <li class="pay__item">
        <img src="./images/price/express.png" alt="express" class="price__img">
      </li>
      <li class="pay__item">
        <img src="./images/price/paypal.png" alt="paypal" class="price__img">
      </li>
      <li class="pay__item">
        <img src="./images/price/bitcoin.png" alt="bitcoin" class="price__img">
      </li>
      <li class="pay__item">
        <img src="./images/price/ok.png" alt="ok pay" class="price__img">
      </li>
      <li class="pay__item">
        <img src="./images/price/amazon.png" alt="amazon" class="price__img">
      </li>
    </ul>
    </div>
    <ul class="pay__link-list">
      <li class="pay__link-item">
        <a href="#" class="pay__link">How to pay anonymously 
          <svg class="pay__icon" width="24" height="24">
            <use href="./images/symbol-defs.svg#upload"></use>
          </svg>
        </a>
      </li>
      <li class="pay__link-item">
        <a href="#" class="pay__link">REDEEM GIFT CARD
          <svg class="pay__icon" width="24" height="24">
            <use href="./images/symbol-defs.svg#upload"></use>
          </svg>
        </a> 
      </li>
    </ul> 
  </div>
</section>
