<section class="tags tags__main">
  <div class="container">
    <div class="tags__wrapper">
      <span class="tags__title">tags:</span>
      <ul class="tags__list">
        <li class="tags__item">
          <a href="#" class="tags__link">bitcoin</a>
        </li>
        <li class="tags__item">
          <a href="#" class="tags__link">bittorrent</a>
        </li>
        <li class="tags__item">
          <a href="#" class="tags__link">irc</a>
        </li>
        <li class="tags__item">
          <a href="#" class="tags__link">news</a>
        </li>
        <li class="tags__item">
          <a href="#" class="tags__link">privacy</a>
        </li>
        <li class="tags__item">
          <a href="#" class="tags__link">programming</a>
        </li>
        <li class="tags__item">
          <a href="#" class="tags__link">security</a>
        </li>
      </ul>
      <div class="tags__contacts contacts">
        <a href="#" class="contacts__link contacts__link--first">team</a>
        <a href="#" class="contacts__link">contact</a>
      </div>
    </div>
  </div>
</section>
