<div class="warning">
  <div class="container container__warning">
    <div class="warning__wrapper wrapper--first">
      <p class="warning__text warning__text--orange">
        <svg class="warning__icon warning__icon--alert" width="20" height="20">
          <use href="./images/symbol-defs.svg#warning"></use>
        </svg>
        You are not protected
      </p>
      <p class="warning__text">Your IP Address: 107.3.176.194</p>
    </div>
    <div class="warning__wrapper wrapper--second">
      <a href="#" class="warning__link">Learn More ›</a>
      <p class="warning__text warning__text--isp">Your ISP: Comcast Cable</p>
    </div>
    <svg class="warning__icon warning__icon--close" width="24" height="24">
      <use href="./images/symbol-defs.svg#close"></use>
    </svg>
  </div>
</div>
